@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200&display=swap%27%27");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ProfilSendPenge__main {
  width: 100%;
  text-align: center;
  margin-top: 6%;
}
.ProfilSendPenge__main .ProfilSendPenge__bruger-id {
  display: inline-block;
  margin-right: 4%;
}
.ProfilSendPenge__main .ProfilSendPenge__beloeb {
  display: inline-block;
}
.ProfilSendPenge__main .ProfilSendPenge__Send {
  display: block;
  border: none;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7e7e3;
  border-radius: 0.7rem;
  padding: 0.7rem 1.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  cursor: pointer;
}
.ProfilSendPenge__main .ProfilSendPenge__Send:hover {
  background-color: #cccccc;
}

.clearboth {
  clear: both;
}

.ProfilInfo__h1 {
  text-align: center;
}

.ProfilInfo__mainbox {
  padding: 5%;
}

.ProfilInfo__salto {
  background-color: #e7e7e3;
  width: 10rem;
  margin-left: 15%;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.knapdivmagi {
  display: flex;
  justify-content: right;
  width: 100%;
}

.ProfilInfo__content p {
  display: inline-block;
}
.ProfilInfo__content .ProfilInfo__info {
  width: 10rem;
}
.ProfilInfo__content .ProfilInfo__infoContent {
  margin-left: 32%;
}

.kontas__container {
  display: flex;
  justify-content: space-between;
  line-height: 0.01em;
}

.kontas__item {
  flex: 0 0 auto;
  margin: 50px;
}

.kontas__Overskraft {
  display: flex;
  justify-content: space-between;
}

.kontas__h4 {
  font-weight: bold;
  font-size: 1.3em;
}

.main__kontas {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 786px) {
  .main__kontas {
    width: 100%;
  }

  .kontas__item {
    margin: 30px;
  }
}
.ProfilInfo__button {
  margin-right: 5%;
  display: block;
  border: none;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7e7e3;
  border-radius: 0.7rem;
  padding: 0.7rem 1.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  cursor: pointer;
}

.ProfilInfo__button:hover {
  background-color: #cccccc;
}

.ProfilInfo__banner {
  width: 100%;
}
.ProfilInfo__banner img {
  width: 70%;
  display: block;
  margin: auto;
}